* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size:1.5rem;

}
 .logoimg{
    width: 50px;
    height: auto;
 }
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 1rem;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #f39c12;
}

.auth-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.auth-buttons .btn {
    text-decoration: none;
    font-weight: 600;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    outline: none;
    padding: 5px 20px;
    color: white;
    display: flex;
    align-items: center;
    /* margin-top: 30px; */
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out; 
}

.auth-buttons .btn:hover {
    background-color: #0056b3;
}

.hero {
    /* background-image: url('../img/chessbg.png'); */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
    overflow: hidden;
}


.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

.hero .btn-playnow {
    background-color: #ff7f50;
    color: #fff;
    padding: 15px 40px;
    font-size: 18px;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.hero .btn-playnow:hover {
    background-color: #e0633b;
}

/* Footer */
footer {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

footer ul li a:hover {
    text-decoration: underline;
}
